@{
    if (User.Identity.Name == "")
    {
        <h1 style="color:lawngreen">
            Please login or register
        </h1>
    }
    else
    {
        <h1 style="color:lawngreen">
            Welcome @User.Identity.Name
        </h1>
    }
}

