@model IEnumerable<Card>

@{
    ViewBag.Title = "CardCollection";
}
<h2 style="color:lawngreen">CardCollection</h2><input type="text" id="searchInput" onkeyup="search()" placeholder="Searchname" style="background-color:transparent; color:lawngreen; border-color:lawngreen"  />
<div class="jumbotron" style="background-color:transparent; height:750px; overflow:auto;">


    @Html.Partial("_CardList", Model)

</div>

    @Html.ActionLink("Back to Profile", "Index",null, new { @style = "color:lawngreen !important" } )

