@model IEnumerable<Deck>

@{
    ViewBag.Title = "DeckOverview";
}

<h2 style="color:lawngreen">DeckOverview</h2>

<h3 style="color:lawngreen">Your @Model.ToList().Count decks</h3>
<table>
    <tr>
        <th style="color:lawngreen">
            @Html.DisplayNameFor(d => d.Name)
        </th>
        <th>

        </th>
    </tr>

    @foreach (var deck in Model)
    {
        <tr>
            <th style="color:lawngreen; padding-right:10px">
                @Html.DisplayFor(d => deck.Name):
            </th>
            <th style="color:lawngreen">
                @Html.ActionLink("View Deck", "DeckDetails", new { id = deck.DeckID}, new { @style = "color:deeppink" } )
            </th>
        </tr>
    }
</table>